extends layout

block content
  h1(style='text-align: center;') Camisetas
  .container
    .row.text-center
      for result in results
        div.item.item-wrapper.col-lg-3.col-md-4.col-xs-6
          div
            div.img-wrapper
              img(src=result.thumbnail.replace('-I', '-O'), alt=result.title)
            div.details
              p #{result.title}
              div.data
                p R$ #{result.price.toFixed(2).replace('.', ',')}
            div.data
              a(href=result.permalink)
                button(class="btn btn-success") Comprar
